<nav>
    <div class="nav-wrapper">
      <a routerLink="/inicio" class="brand-logo">Logo</a>
      <a routerLink="/inicio" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="seInicioSesion"><a routerLink="/administracion/buscar-usuario">Usuarios</a></li>
        <li *ngIf="!seInicioSesion"><a href="http://127.0.0.1:5501/Frontend_bootstrap/index.html">Crear Usuario1</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="/administracion/buscar-producto">Productos</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cerrar-sesion">Cerrar Sesion</a></li>
        <li *ngIf="!seInicioSesion"><a href="../inicio/inicio.component.html">Inicio Sesion2</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li *ngIf="seInicioSesion"><a routerLink="/administracion/buscar-usuario">Usuarios</a></li>
    <li *ngIf="!seInicioSesion"><a routerLink="/administracion/crear-usuario">Crear Usuario2</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/administracion/buscar-producto">Productos</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cerrar-sesion">Cerrar Sesion</a></li>
    <li *ngIf="!seInicioSesion"><a routerLink="/seguridad/identificar">Inicio 2</a></li>
  </ul>