<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="../../../seguridad/identificacion/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<!--<img class="wave" src="/FrontendAngular41/src/assets/images/wave.png">            		   			<input formControlName="usuario" id="email" type="email" class="validate">-->
	<div class="container">
		<div class="img">
			<img src="/FrontendAngular41/src/assets/images/off_road.svg">
		</div>
		
			<div class="login-content">
				<form [formGroup]="fgValidador" (ngSubmit)="IdentidicarUsuario()">
					<img src="/FrontendAngular41/src/assets/images/welcome.svg">
					<h2 class="title">Registro de asesores</h2>
           			<div class="input-div one">
           		   		<div class="i">
           		   			<i class="fas fa-user"></i>
           		   		</div>
           		   		<div class="div">
           		   			<h5>Usuario</h5>
           		   			<input formControlName="usuario" id="email" type="email" class="validate">
           		   		</div>
           			</div>
           			<div class="input-div pass">
           		   		<div class="i"> 
           		    		<i class="fas fa-lock"></i>
           		   		</div>
           		   		<div class="div">
           		    		<h5>Contraseña</h5>
							<input formControlName="clave" id="password" type="password" class="validate">
            	   		</div>
            		</div>
					<br>

					<button [disabled]="!fgValidador.valid" type="submit" class="btn waves-effect waves-light border-round gradient-45deg-purple-deep-orange col s12" >Registrar</button>
					
           		</form>
        	</div>
		</form>
    </div>
    <script type="text/javascript" src="js/main.js"></script>
</body>